html, body {
    font-family: "Roboto";
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4c8bf5;
    --secondary-color: #DB4437;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav h1 {
    font-weight: 100;
    font-size: 50pt;
    padding: 10px;
}





    body {
        width: 70%;
        margin: 0 auto;
        padding: 25px 0;
    }

a { color: #44a0c8; }

img {
    width: 125px;
    height: 125px;
    border-radius: 15px;
}

ul, p {
    max-width: 900px;
    font-size: 1.05em;
}
    p { margin: 10px 0; }
    ul { margin: 25px 0; }
        ul li + li {
            margin-top: 15px;
        }
        ul li > em:first-child {
            /* Paper titles */
            font-weight: 700;
            text-decoration: underline;
            font-style: normal;
        }

@media all and (max-width: 535px) {
    body {
        width: 95%;
        text-align: center;
    }
    p { text-align: left; }
    ul {
        padding: 0;
        list-style-type: none;
    }
}
